html, body {
    margin: 0px;
    height: 100%;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

button:focus-visible {
    outline: 2px solid #4490e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}